.file-list {
  .file {
    display: flex;
    flex-direction: row;
    padding: 5px;
    border-bottom: solid 1px @gray-lighter;
    opacity: 1;

    &.removed {
      opacity: 0;
      transition: opacity ease-in 1.2s;
    }

    &:hover {
      background: @gray-lightest;
    }

    .check {
      flex: 0 1;
      min-width: 30px;
      color: @brand-link;
      cursor: pointer;
      .fa {
        margin-top: 14px;
        margin-left: 5px;
      }
    }

    .content {
      flex: 1 0;

      .form-group {
        margin-bottom: 0px;
      }
      a {
        text-decoration: inherit;
      }
      .dir {
        color: @gray-light;
      }
      .tags {
        color: @gray-light;
      }
    }
  }

  &.read-only {
    .dir {
      margin-left: 20px;
    }
  }
}
