<div class="qb-navbar">
  <a class="brand" href="/#/">Home</a>
  
  <span ng-if="USER != null" class="hidden-xs">
    <div class="dropdown qb-settings-link" dropdown>
      <a href="/#/settings" class="dropdown-toggle">{{ USER.display_name }}</a>
      <a class="dropdown-toggle clickable" dropdown-toggle>
        <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="/#/settings">Settings</a>
        </li>
        <li>
          <a ng-click="Auth.logout()">Log out</a>
        </li>
      </ul>
    </div>
  </span>
</div>
